<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OpBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <OpBot.Properties.Settings>
            <setting name="OpBotUserId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OpBotChannel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OpBotToken" serializeAs="String">
                <value />
            </setting>
            <setting name="OperationFile" serializeAs="String">
                <value />
            </setting>
            <setting name="GreetingsChannelId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AdminUsers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>0</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="devTrackerChannel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CommandChars" serializeAs="String">
                <value>~!?</value>
            </setting>
        </OpBot.Properties.Settings>
    </applicationSettings>
</configuration>